.App {
  text-align: center;
  background-color: #e0ffff;
  margin: auto;
  width: 100%;
}

#main-div {
  margin: auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.vid-display {
  background-color: #990000;
  width: 100%;
  height: 1000px;
  padding: 1% 0 0 0;

  background-color: #e0ffff;
  font-family: 'Poppins', sans-serif;
}

.video-player {
  /*display: inline-block;*/
  width: 50%;
  height: 400px;
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;

  float: left;

  font-family: 'Poppins', sans-serif;
}



.comment-container, .vid-details {
  /*display: inline-block;*/
  /*float: auto;*/
  text-align: auto;
  font-size: 12px;
  padding: 10px;
  margin: 0 1% 0 1%;
  background-color: #d7f7ff;
  border-radius: 15px;
  /*height: 400px;*/
}

.comment-container {
  float: right;
  width: 23%;
  overflow: scroll;
  font-family: 'Poppins', sans-serif;
}

.vid-details {
  float:left;
  width: 23%;
}

.comment {
  background-color: white;
  border-radius:50px;
  padding: 5px;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}

.comment-username {
  font-size: 12px;
}

.comment-text {

  font-size: 18px;
}

#vid-container {
  margin: auto;
  width: 90%;
  padding-top: 80px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
}

.delete-button {
  margin: 30px auto;
}

.card {
  display: block;
  width: 15%;
  margin: 10px;
  padding: 15px;
  height: 500px;
  float: none;
  background-color: #effbff;
}

.navbar {
  font-family: 'Dosis', sans-serif;
}
